.content {
  display: grid;
  grid-template-rows: 48px 1fr 40px;
  gap: 20px;
  flex-direction: column;
  width: 100vw;
  height: calc(100vh - var(--headerHeight));
  padding: 34px 70px;
  background-color: var(--thirdColor);
}
