.content {
  display: flex;
  flex-direction: column;
  gap: 20px;
  flex: 0 0 auto;
  width: 100vw;
  height: calc(100vh - var(--headerHeight));
  padding: 40px 70px;
  overflow-x: hidden;
  background-color: var(--thirdColor);
}
