.head {
  display: grid;
  text-align: center;
  grid-template-columns: var(--mainGrid);
  padding: 20px;
  background-color: var(--fourthColor);
  border: 1px solid var(--firstColor);
}

.sortButton {
  padding: 0;
  outline: none;
  border: 0;
  font-weight: 700;
  background-color: transparent;
  cursor: pointer;
  font-size: 20px;
  transition: all 0.2s;
}

.sortButton:hover {
  color: var(--firstColor);
}

.sortButton > svg {
  width: 10px;
  height: 10px;
  margin-left: 10px;
}

.sortButton > svg * {
  fill: var(--firstColor);
}

.rotated > svg {
  transform: rotate(180deg);
}
