.gridRow {
  display: grid;
  padding: 14px;
  background-color: var(--fourthColor);
  height: min-content;
  border-bottom: 1px solid var(--firstColor);
  grid-template-columns: var(--mainGrid);
  text-align: center;
  color: var(--secondColor);
}
